<footer>
    <div class="footer">
        <div class="contain">
        <div class="col">
          <h1>Company</h1>
          <ul>
            <li>About</li>
            <li>Mission</li>
            <li>Services</li>
            <li>Social</li>
            <li>Careers</li>
          </ul>
        </div>
     
        <div class="col">
          <h1>Support</h1>
          <ul>
            <li>Contact us</li>
            <li>Web chat</li>
            <li>Open ticket</li>
          </ul>
        </div>
        <div class="col social">
          <h1>Social</h1>
          <ul>
            <li>  <a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
              </a></li>
            <li><a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-facebook"></span>
              </a></li>
            <li><a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-instagram"></span>
              </a></li>
          </ul>
        </div>
      <div class="clearfix"></div>
      </div>
      </div>
</footer> 
    


    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
<script src="https://kit.fontawesome.com/a0fca71248.js" crossorigin="anonymous"></script>
</html>