<%- include('partials/header') -%>
  <body>
    <div class="container">
      <div class=" float-start col-2">
        
      </div>
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills ">
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link">Sign up</a></li>
          </ul>
        </header>
          <section class="wrapper">
            <div>
              <img  src="/imgs/gardener.jpg" alt="">
            </div>
            <div>Gardening is a healthy activity that produces healthy food and brings communities together. We strive to make gardening a prominent feature of all neighborhoods where we make friends, food and memories. We want gardeners to thrive by learning, growing food and serving their community.</div>
            <div>Did you know that plain grass lawns are the largest irrigated crop in America? Imagine if all that water, energy and expertise was instead funneled to growing local heirloom fruits, veggies and flowers for your neighbors. How much healthier could we all be and how much more could we learn about taking care of ourselves? </div>
            <div>
              <img src="/imgs/lawn.webp" alt="">
            </div>
            <div>
              <img src="/imgs/kids.jpg" alt="">
            </div>
            <div>Kids who garden are more likely to eat the fruits of their labor. If we can excite children about the magic of growing food from soil, water and sunlight, we can have a healthier, happier community. Growing food is amazing and we all should be excited to do it.</div>
        </section>
</div>
  </body>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
  <script src="js/map.js"></script>
  <script src="js/add.js"></script>
  <%- include('partials/footer') -%>